/*$white:       #FFFFFF;
$black:       #111111;

$dark-blue:   #10222B;
$med-blue:    #2C5D75;

$green:       #A7C520;

$dark-gray:   #98A89E;
$med-gray:    #E8E8E8;
$light-gray:  #FBFBFB;

$red:         #D40015;
$orange:      #FF4411;*/

@keyframes imageShown {
    from {
      opacity: 0;
      transform: translateY(-25px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
}

html { font-size: 16px; }

body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  -webkit-font-smoothing: antialiased;
  font-size: 100%;
  color: #10222B;
  min-height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url(/background.svg) top/cover no-repeat;
}

.header {
  width: 100%;
  height: auto;
  padding: 1rem 0 0;
font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: black;
  background: white;
  text-align: center;
}

.image__container {
  border: 20px solid white;
  box-shadow: 4px 4px 32px rgba(0,0,0,0.25);
  position: relative;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-25px);
}

.image__container--shown {
  opacity: 1;
  transform: translateY(0px);
  animation-name: imageShown;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(.17,.67,.32,1.03);
}

.image {
  max-height: 80vh;
  max-width: 80vw;
  display: block;
}

.explanation {

}
