/*$white:       #FFFFFF;
$black:       #111111;

$dark-blue:   #10222B;
$med-blue:    #2C5D75;

$green:       #A7C520;

$dark-gray:   #98A89E;
$med-gray:    #E8E8E8;
$light-gray:  #FBFBFB;

$red:         #D40015;
$orange:      #FF4411;*/

html { font-size: 16px; }

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 100%;
  color: #10222B;
  min-height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url(/background.svg) top/cover no-repeat;
}

.header {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 4rem 1.25rem 1rem;
  font-family: 'Roboto', serif;
  font-weight: 100;
  font-size: 1.5rem;
  color: white;

  background-image: linear-gradient(-180deg, rgba(36,70,86,0.00) 0%, rgba(16,33,43,0.70) 100%);
}

.image__container {
  border: 20px solid white;
  box-shadow: 4px 4px 32px rgba(0,0,0,0.25);
  position: relative;
  overflow: hidden;
}

.image {
  max-height: 85vh;
  display: block;
}

.explanation {

}
