@keyframes cardShown {
    from {
      opacity: 0;
      transform: translateY(-25px) scale(0.95);
    }
    to {
      opacity: 1;
      transform: translateY(0px) scale(1);
    }
}

@keyframes cardImageZoomIn {
  from {
    max-height: 80vh;
    max-width: 80vw;
  }
  to {
    max-height: 100vh;
    max-width: 100vw;
  }
}

@keyframes cardImageZoomOut {
  from {
    max-height: 100vh;
    max-width: 100vw;
  }
  to {
    max-height: 80vh;
    max-width: 80vw;
  }
}

@keyframes fullscreenBackgroundShown {
  from { opacity: 0; }
  to { opacity: 100%; }
}

@keyframes fullscreenBackgroundHidden {
  from { opacity: 100%; }
  to { opacity: 0; }
}



html { font-size: 16px; }



body {
  margin: 0;
  font-family: 'Quicksand', serif;
  -webkit-font-smoothing: antialiased;
  font-size: 100%;
  min-height: 100%;
}



.page__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url(/background.svg) top/cover no-repeat;
}



.fullscreen-background {
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  background: #000;
}

  .fullscreen-background--shown {
    opacity: 1;
    animation-name: fullscreenBackgroundShown;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(.17,.67,.32,1.03);
    animation-fill-mode: both;
  }

  .fullscreen-background--hidden {
    animation-name: fullscreenBackgroundHidden;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(.17,.67,.32,1.03);
    animation-fill-mode: both;
  }



.card {
  box-shadow: 4px 4px 32px rgba(0,0,0,0.25);
  position: relative;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-25px);
}

  .card--shown {
    opacity: 1;
    transform: translateY(0px);
    animation-name: cardShown;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(.17,.67,.32,1.03);
  }



.card__image {
  max-height: 80vh;
  max-width: 80vw;
  display: block;
  cursor: zoom-in;
}

  .card__image--zoom-in {
    animation-name: cardImageZoomIn;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(.17,.67,.32,1.03);
    animation-fill-mode: both;
    cursor: zoom-out;
  }

  .card__image--zoom-out {
    animation-name: cardImageZoomOut;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(.17,.67,.32,1.03);
    animation-fill-mode: both;
  }



.card__title {
  width: 100%;
  max-height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EEE;
  padding: 2rem 0;
}

  .card__title__text,
  .card__title__link {
    display: none;
    font-family: 'Quicksand', serif;
    font-weight: 100;
    font-size: 1.5rem;
    color: #444;
    text-align: center;
    word-spacing: 0.5rem;
    letter-spacing: 1px;
  }

  .card__title__link {
    text-decoration: none;
    transition: opacity 0.5s cubic-bezier(.17,.67,.32,1.03);
  }

  .card__title__link:hover {
    cursor: pointer;
    opacity: 0.75;
  }

  .card__title__left,
  .card__title__right {
    height: 1px;
    width: 25%;
  }

  .card__title__left {
    background: url(/line-left.png) top/cover no-repeat;
    margin-right: 2rem;
  }
  .card__title__right {
    background: url(/line-right.png) top/cover no-repeat;
    margin-left: 2rem;
  }
